ion-title {
  font-size: smaller;
  text-transform: hacenalgeria !important;
  color: white !important;
  direction: rtl;
  text-align: right;
}

h2,
ion-list-header>p {
  font-family: unique;
  color: dodgerblue;
  font-size: 120%;

}

ion-list {
  font-family: unique;
  direction: rtl;
  text-align: right;
}

ion-title,
ion-badge {
  font-family: unique !important;
}

img {
  margin-left: 20px !important;
  margin-top: 20px !important;
  width: 60px;

}

ion-card-title,
ion-button {
  font-family: unique !important;
  direction: rtl;
  text-align: right;
}

ion-card-subtitle {
  font-family: Mistral !important;
  text-align: right !important;
}

ion-label {
  font-family: "unique" !important;
  float: left !important;
}

ion-item,
ion-badge {
  direction: rtl;
  text-align: right;
  font-family: unique !important;
  font-size: 12pt !important;
}

.special {
  font-family: sansation !important;
}

#file1 {
  min-height: 10px !important;
}

.mathmoun {
  font-family: Arial, Helvetica, sans-serif !important;
}



#file1,
ion-button,
ion-label {
  font-size: 16px !important;
  font-weight: 100 !important;
  color: #444 white !important;
  text-align: right;
  padding: 1px 5px !important;
  direction: rtl;
  border-radius: 3px !important;
}

#file1 {
  font-family: hacentunisia !important;
}

#bulletinhtml {
  position: absolute;
  opacity: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

ion-radio {
  float: right !important;
}