<ion-header lang="ar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>إشعارات المستخدم

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      <p>
        <ion-icon name="notifications-outline" color="danger"> </ion-icon>
        <ion-badge color="danger">إشعارات المستخدم
        </ion-badge>
      </p>
    </ion-list-header>

    <ion-item *ngFor="let notif of notifications">
      <ion-avatar slot="start">
        <ion-icon name="chatboxes" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 color="primary">{{notif.sujet}}</h2>

        <textarea color="dark" value={{notif.message}} class="form-control" rows="4" readonly
          (click)="presentAlert(notif.sujet,notif.message)"></textarea>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>